@charset "utf-8";
body {
	height: 1000px;
}
#box1 {
	background-color: #6CC;
	height: 100px;
	width: 200px;
}
#box2 {
	background-color: #F6C;
	height: 100px;
	width: 200px;
	position:fixed;
	left:100px;
}

#box3 {
	background-color: #3F6;
	height: 100px;
	width: 200px;
}
