@charset "utf-8";
#box1 {
	background-color: #6CC;
	height: 100px;
	width: 200px;
	position:relative;
	z-index:-3;
}
#box2 {
	background-color: #F6C;
	height: 100px;
	width: 200px;
	position:absolute;
	left:100px;
	top:50px;
	z-index:-1;
}
#box3 {
	background-color: #3F6;
	height: 100px;
	width: 200px;
	z-index:-2;
	position:relative;
}
