#wrapper{
  width:800px;
  margin:0 auto;
  height:800px;
}
img{
  position:fixed;
  right:0px;
  bottom:0px;
  z-index:-18;
}
body{
  background-color:rgb(190, 255, 233);
}
#b{
  margin:0 auto;
}
a{
  color:#000;
}
a:visited{
  color:#000;
}
