@charset "utf-8";
/*ブラウザが持つマージン、パディングをリセットする*/
* {
	padding: 0;
	margin: 0;
}

/*+++　基本情報　+++*/
body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 160%;
	font-weight: bold;
	text-align: center;
}


/*+++　BOXレイアウト　+++*/

/*+++　全部を囲むBOX　+++*/
#wrapper {
	background-color: #ccc;
	width: 900px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
}


/*+++　それぞれのBOX　+++*/
#box1 {
	background-color: #f66;
	height: 50px;
	width: 900px;
}
#box2 {
	background-color: #f66;
	height: 300px;
	width: 400px;
	float:left;
	margin:20px;
}
#box3 {
	background-color: #f66;
	height: 300px;
	width: 400px;
	float:right;
	margin:20px;
}
#box4 {
	background-color: #f66;
	height: 50px;
	width: 900px;
	clear:both;
}
