@charset "utf-8";
/*ブラウザが持つデフォルトのマージンと
パディングを0にする*/
* {
	padding: 0;
	margin: 0;
}

/*ブラウザの背景に色を塗る*/
body {
	background-color: #ccc;
}


h1{
	background-color: #FC9;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	border: solid 5px #730;
	padding: 20px;
}

p {
	background-color: #FC9;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	border: solid 5px #730;
	padding: 20px;
}
