@charset "UTF-8";
/*縦型ナビゲーション*/

/*---------------------------------------*/
/*-------ナビゲーションボタンを入れているBOX------*/
/*---------------------------------------*/
#nav {
/*BOXの横幅を指定*/
/*リストスタイルをリセット*/
}
*{
  list-style:none;
}

/*-----------------------------------------------------------------*/
/*--BOX化と表示領域の調整、ナビゲーション画像を背景画像として配置--*/
/*-----------------------------------------------------------------*/
#nav a {
width:200px;/*ナビゲーションの横幅を指定：200px*/
height:40px;/*ナビゲーションの高さを指定：40px*/
display:block;/*インライン要素をブロックレベル要素に変更*/
text-indent:-999999px;/*テキストを隠す*/
background-image:url(../img/button.png);/*背景画像にナビゲーション画像を指定*/
/*背景画像の繰り返しをしない設定*/
}
/*----------------------------------------*/
/*--ナビゲーション背景画像の表示位置調整--*/
/*----------------------------------------*/

/*移動なし*/


/* X軸移動なし・Y軸-40px移動 */
#menu2 a{
  background-position:0px -40px;
}

/* X軸移動なし・Y軸-80px移動 */
#menu3 a{
  background-position:0px -80px;
}
/* X軸移動なし・Y軸-120px移動 */
#menu4 a{
  background-position:0px -120px;
}
/* X軸移動なし・Y軸-160px移動 */
#menu5 a{
  background-position:0px -160px;
}


/*---------------------------------------------------------*/
/*-------- オンマウスしたときに、背景画像を移動させて入れ替える -------*/
/*---------------------------------------------------------*/

/* X軸-200px・Y軸移動なし */
#menu1 a:hover{
  background-position:-200px -0px;
}
/* X軸-200px・Y軸-40px移動 */
#menu2 a:hover{
  background-position:-200px -40px;
}
/* X軸-200px・Y軸-80px移動 */
#menu3 a:hover{
  background-position:-200px -80px;
}
/* X軸-200px・Y軸-120px移動 */
#menu4 a:hover{
  background-position:-200px -120px;
}
/* X軸-200px・Y軸-160px移動 */
#menu5 a:hover{
  background-position:-200px -160px;
}


/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/


/*横型ナビゲーション*/

/*---------------------------------------*/
/*--ナビゲーションボタンを入れているBOX--*/
/*---------------------------------------*/
#navB {
/*BOXの横幅を指定*/
/*リストスタイルをリセット*/
}


/*-----------------------------------------------------------------*/
/*--BOX化と表示領域の調整、ナビゲーション画像を背景画像として配置--*/
/*-----------------------------------------------------------------*/
#navB a {
/*ナビゲーションの横幅を指定：200px*/
/*ナビゲーションの高さを指定：40px*/
/*インライン要素をブロックレベル要素に変更*/
/*テキストを隠す*/
/*背景画像にナビゲーション画像を指定*/
/*背景画像の繰り返しをしない設定*/
}

/*floatで横並びにする*/
#navB li {
}


/*----------------------------------------*/
/*--ナビゲーション背景画像の表示位置調整--*/
/*----------------------------------------*/

/*移動なし*/


/* X軸-200px・Y軸移動なし */


/* X軸-400px・Y軸移動なし */


/* X軸-600px・Y軸移動なし */


/* X軸-800px・Y軸移動なし */





/*---------------------------------------------------------*/
/*-------- オンマウスしたときに、背景画像を移動させて入れ替える -------*/
/*---------------------------------------------------------*/

/* X軸移動なし・Y軸-40px移動 */


/* X軸-200px移動・Y軸-40px移動 */


/* X軸-400px移動・Y軸-40px移動 */


/* X軸-600px移動・Y軸-40px移動 */


/* X軸-800px移動・Y軸-40px移動 */
