@charset "utf-8";
/*ブラウザが持つマージン、パディングをリセットする*/
*{
	margin:0px;
	padding:0px;
}


/*+++　基本情報　+++*/
body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 160%;
	font-weight: bold;
	text-align: center;
}


/*+++　BOXレイアウト　+++*/

/*+++　全部を囲むBOX　+++*/
#wrapper {
	background-color: #ccc;
	width: 900px;
	margin:20px auto;
}


/*+++　それぞれのBOX　+++*/
#box1 {
	background-color: #f66;
	height: 50px;
	width: 900px;
}

#box2 {
	background-color: #f66;
	height: 300px;
	width: 210px;
	float:left;
	margin:20px 20px 20px 0px;
}

#box3 {
	background-color: #f66;
	height: 300px;
	width: 210px;
	float:left;
	margin:20px 20px 20px 0px;
}

#box4 {
	background-color: #f66;
	height: 300px;
	width: 210px;
	float:left;
	margin:20px 20px 20px 0px;
}

#box5 {
	background-color: #f66;
	height: 300px;
	width: 210px;
	float:left;
	margin:20px 0px 20px 0px;
}

#box6 {
	background-color: #f66;
	height: 50px;
	width: 900px;
	clear:both;

}
