@charset "utf-8";

/*---　リセット　------------------------*/
*{
  margin:0px;
  padding:0px;
}
/*---　ベース　------------------------*/
body{
  background-color:blue;
}
/*---　全体を囲うBOX　------------------------*/

#wrapper{
  width:900px;
  margin:20px auto 20px auto;
}
/*---　BOXレイアウト　------------------------*/
#header{
  height:100px;
  background-color:#fff;
  margin:0 0 20px 0;
}
#MainContents{
  background-color:#fff;
  height:150px;
  margin:0 0 20px 0;
}
#con1{
  background-color:#fff;
  width:440px;
  float:left;
  height:1000px;
  margin:0 20px 20px 0;
}
#con2{
  background-color:#fff;
  width:440px;
  float:left;
  height:1000px;
}
#footer{
  background-color:#fff;
  clear:both;
}
h1,h2,h3,em,caption,.style2{
  color:blue;
}
dt,strong{
  color:red;
}


/*---　テーブルデザイン　------------------------*/





/*---　アドレスデザイン　------------------------*/
