*{
  maegin:0px;
  padding:0px;
}
body{
  background-image:url(../images/monyo.gif);
  background-size:80px auto;
}
#shadow{
  width:1452px;
  background-image:url(../images/shadow.png);
  background-size:1452px auto;
  margin:0 auto;
}
#wrapper{
  width:1400px;
  margin:40px auto 0 auto;
}
#toplogo{
  width:1400px;
  height:200px;
  background-image:url(../images/h1back.png);
  background-size:auto 200px;
  background-color:#fee;
}
#toplogo img{
  margin:25px;
}
ul li{
  margin:-40px 0 10px 0;
  float:left;
  list-style:none;
}
ul a{
  color:#fff;
  background-color:#000;
  display:block;
  width:280px;
  text-decoration:none;
  padding:20px 0;
  font-size:25px;
}
ul a:hover{
  background-color:#555
}
ul p{
  text-align:center;
}
#dey{
  position:absolute;
  left:1150px;
  top:40px;
}
#content div{
  float:left;
  font-size:24px;
  margin:0 20px;
  color:#666;
  line-height:30px;

}
#box1{
  width:400px;
}
#box2{
  width:480px;
}
#box3{
  width:400px;
}
.blue{
  color:blue;
}
#footer{
  margin-top:480px;
  clear:both;
  width:1400px;
  text-align:center;
  height:70px;
  background-color:#000;
  color:#fff;
  padding:1px 0 0 0;
  font-size:20px;
}
