@charset "utf-8";
/*ブラウザが持つデフォルトのマージンと
パディングを0にする*/



/*ブラウザの背景に色を塗る*/



/*パディング、マージン、ボーダーの設定*/



/*その他の要素へ適用*/
*{
  margin:0px;
  padding:0px;
}
body{
  background:#ccc;
}
h1 ,p{
  background-color:#fc9;
  border:solid 5px #730;
  margin:20px;
  padding:20px;
}
div{
  background:white;
  margin:20px;
  padding:20px;
  border:solid 20px #000;
}
