@charset "utf-8";
/*ブラウザが持つデフォルトのマージンと
パディングを0にする*/
* {
	padding: 0;
	margin: 0;
}

/*ブラウザの背景に色を塗る*/
body {
	background-color: #ccc;
}


h1,
p {
	background-color: #FC9;
	margin: 20px;
	border: solid 5px #730;
	padding: 20px;
}
